<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>知识文库</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- css -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div class="span12">
			文库首页 
			<p>Access Token : <span th:text="${access_token}">未知</span>.</p>
			
			<a id="test_btn" class="btn btn-default">创建根目录测试</a>
			<a id="test2_btn" class="btn btn-default">Test</a>
			<p id="message"></p>
		</div>
	</div>

	<!-- js -->
	<script th:src="@{/js/jquery-1.11.0.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/json2.js}"></script>

	<script th:inline="javascript">
		$(function() {
			$("#test_btn").click(function(){
				$.ajax({ 
					type: 'post',
					url: "https://localhost:8000/documentservice/api/v1/catalog/?catalog_name=测试根目录", 
					headers : {
						"Authorization" : "Bearer "+[[${access_token}]]
					},
					success: function(rest){
			        	$("#message").text(JSON.stringify(rest));						
			      	}
				});
			})
			
			$("#test2_btn").click(function(){
				$.ajax({ 
					type: 'post',
					url: "https://localhost:8000/documentservice/test", 
					headers : {
						"Authorization" : "Bearer "+[[${access_token}]]
					},
					success: function(rest){
			        	$("#message").text(JSON.stringify(rest));						
			      	}
				});
			})					
		});
	</script>
</body>

</html>